// Spinner

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  @include size(100%);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background: url("../img/loader-64x/Preloader_7.gif") center no-repeat #fff;
}