$employers-gutter: $base-spacing * 2;

.timeline {
  border-left-width: 0.125rem;
  border-left-style: solid;
  margin-left: calc(1rem - 0.125rem);
  padding-left: $base-spacing;
  position: relative;

  &__item {
    position: relative;

    &--point {
      @include size(rem(10px));

      @include position(absolute, rem(3px) null null rem(-31px));

      border-radius: $round-border-radius;
      box-shadow: 0 0 0 6px #fff;
      background: $color-gold;
    }
  }
}

.employers {
  padding-bottom: $base-spacing;

  @include media($xlarge-up) {
    padding-bottom: $employers-gutter;
  }


  @include media($large-up) {
    margin-right: -$employers-gutter;
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }


  &--details {

    > * {
      font-family: $base-font-family;
      letter-spacing: $base-letter-spacing;
      margin-bottom: $small-spacing * 0.66;
    }

    &__timeframe {
      color: $color-gold;
      font-size: rem(12px);
      text-transform: uppercase;
      font-weight: 600;
    }

    &__heading {
      color: $black-matte;
      font-size: rem(20px);
    }

    &__title {
      color: $base-gray;
      font-size: rem(16px);
    }

    &__location {
      color: $medium-gray;
      font-size: rem(12px);
    }

    @include media($large-up) {
      flex-basis: 33.3333%;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: hidden;
      padding-right: $employers-gutter;
    }
  }

  &__description {

    @include media($large-up) {
      flex-basis: 66.6666%;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: hidden;
      padding-right: $employers-gutter;
    }
  }
}