fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select {
  // display: block;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

#{$all-text-inputs},
select[multiple] {
  background-color: $base-background-color;
  background-image: none;
  border-radius: 0;
  border: 1px solid $form-box-border;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  color: $medium-gray;
  font-family: $base-font-family;
  font-size: 12px;
  height: 38px;
  letter-spacing: $base-letter-spacing;
  margin-bottom: $small-spacing;
  outline: 0;
  padding: ($small-spacing / 2) $small-spacing;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: border-color $base-duration $base-timing;
  vertical-align: middle;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    box-shadow: $form-box-shadow-focus;
    outline: none;
    // color: #111;
    // border-color: rgba(0,0,0, .7);
    color: $dark-gray;
    border-color: $dark-gray;
    box-shadow: 0 0 3px rgba(0,0,0, .3);
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
  appearance: none;
  background-color: $base-background-color;
  height: 38px;
  min-height: 65px;
  padding: $small-spacing; // The 6px vertically centers text on FF, ignored by Webkit
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    appearance: none;
  }
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}



