.hero--section {
  @extend %page-section;
  background-color: #212121;
  @include media($small-down) {
    background-size: 100%;
    background-position: center top;
  }
}

.hero--profile {
  @include span-columns(24);
  text-align: center;
  @include media($medium-up) {
    @include span-columns(12);
  }
  @include media($large-up) {
    @include span-columns(10);
    padding-top: 0;
  }

  &__name {
    color: $white;
    font-size: rem(24px);
    letter-spacing: .10em;
    text-transform: uppercase;
  }


   &__position {
    color: $base-gray;
    font-size: rem(20px);
    letter-spacing: .30em;
    text-indent: .30em;
    text-transform: uppercase;
    margin-bottom: 20px * 2;
    @include media($xsmall-only) {
      margin-bottom: $base-spacing;
    }
   }


   &__text {
    font-weight: $font-weight--light;
    color: $light-gray;
    text-align: justify;
  }

  &__image {
    @include span-columns(24);
    text-align: center;
    @include media($medium-up) {
      @include span-columns(12);
      @include pad();
    }
    @include media($large-up) {
      @include span-columns(10);
      @include shift(2);
      padding-top: 0;
    }
    > img {
      display: inline-block;
    }
  }
}


.hero--signature {
  position: relative;
  overflow: hidden;
  text-align: right;
  img {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  &__footer {
    font-weight: $font-weight--bold;
    opacity: .5;
    text-transform: uppercase;
  }
}
