$navigation_large  : 75px;
$navigation_small  : 55px;
$navigation_mobile : $navigation_large / 2;

.main-nav {
  @include fill-parent;

  background: rgba(white, 0.97);
  height: $navigation_small;
  left: 0;
  position: fixed !important;
  top: 0;
  z-index: 1030;
  transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  box-shadow: 0 1px 1px rgba($black, 0.05);

  &_wrapper {
    @include outer-container(98%);
    @include clearfix;
    position: relative;
  }

  &.js-transparent {
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  }

  // Navbar Logo
  .nav-logo {
    transform: translateY(0px);
    display: table-cell;
    height: $navigation_small;
    line-height: 0;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    vertical-align: middle;

    &:before,
    &:after {
      display: none;
    }

    img {
      filter: invert(0%);
      height: 35px;
      transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    }

    &_wrap {
      @include margin(null $small-spacing);
      float: left;
    }
  }

  // Hamburger Menu
  .mobile-nav {
    @include padding(null $base-spacing);
    cursor: pointer;
    display: table;
    float: right;
    user-select: none;
    height: $navigation_small;
    line-height: $navigation_small;
    color: $dark-gray;
    background: transparent;

    transition-property: background, color;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    margin-right: $small-spacing;

    border-left: 1px solid $form-box-border;
    border-right: 1px solid $form-box-border;

    &:hover {
      color: $white;
      background: $dark-gray;
    }



    @include media($large-up) {
      display: none;
    }

    .fa {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 21px;
    }
  }
}

.main-nav.transparent {
  background: transparent !important;
  box-shadow: none;
  // height: $navigation_large;

  &.mobile-on {
    background: rgba(255, 255, 255, 0.97);
  }

  &.mobile-on .inner-nav ul li {
    transform: translateY(0px);
  }

  &.mobile-on .nav-logo{
    transform: translateY(0px);
    > img {
      height: 35px;
    }
  }

  .nav-logo {
    // height: $navigation_large;
    transform: translateY(10px);

    > img {
      filter: invert(100%);
      height: $navigation_small;
    }
  }

  .mobile-nav {
    // height: $navigation_large;
    // line-height: $navigation_large;
    border: 0;

    .fa {
      color: $white;
    }
  }

  .inner-nav ul li {
    // height: $navigation_large;
    // line-height: $navigation_large;
    transform: translateY(10px);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);

    @include media($large-up) {
      a.nav-link {
        color: $white;

        &:hover,
        &.active {
          background-color: transparent;
          color: $color-gold;
        }
      }
    }
  }
}

.inner-nav {
  display: inline-block;
  position: relative;
  float: right;


  @include media($medium-down) {
    @include position(absolute, 100% null null 0);
    @include fill-parent;
    @include padding(null $small-spacing);
    z-index: 100;

    // Hamburger Dropdown
    display: none;
    overflow-y: hidden;
    // // transition-property: all;
    // // transition-duration: 1s;
    // // transition-timing-function: ease-in-out;
    // transition: all 0.75s cubic-bezier(0, 0, 0.58, 1)

  }

  &.js-opened {
    display: block;
  } 

  ul {
    float: right;

    @include media($medium-down) {
      @include fill-parent;
      float: none;
      background: rgba($black-matte, 0.97);
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
    }


    li {
      transform: translateY(0px);
      display: inline-block;
      float: left;
      height: $navigation_small;
      line-height: $navigation_small;
      position: relative;
      transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);

      @include media($medium-down) {
        display: block;
        float: none;
        height: $navigation_mobile !important;
        line-height: $navigation_mobile !important;
        overflow: hidden;
        border-bottom: 1px solid rgba($white, 0.1);
      }


      &.nav_download {
        @include margin(null $small-spacing);

        @include media($medium-down) {
          margin: 0;
          overflow: initial !important;

          > .nav-download_btn {
            font-family: $heading-font-family;
            background: transparent;
            font-size: rem(12px);
            letter-spacing: .30em;
            text-indent: .30em;
            line-height: $navigation_mobile;
            border: none;
            border-radius: 0;
            transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);

            @include media($medium-down) {
              @include padding(0 $small-spacing);
              @include fill-parent;
              display: block;
              text-align: right;
              color: $white;
              cursor: pointer;

              &:hover,
              &.active {
                background: rgba($black-matte, 0.9);
                color: $color-gold;
              }
            }
          }
        }
      }

      a.nav-link {
        @include padding(null $base-spacing);
        display: inline-block;
        font-family: $heading-font-family;
        text-transform: uppercase;
        font-size: rem(12px);
        letter-spacing: .30em;
        text-indent: .30em;
        color: $dark-gray;
        transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);

        &:hover,
        &.active {
          background-color: $dark-gray;
          color: $white;
        }

        @include media($medium-down) {
          @include padding(0 $small-spacing);
          @include fill-parent;
          display: block;
          text-align: right;
          color: $white;
          cursor: pointer;

          &:hover,
          &.active {
            background: rgba($black-matte, 0.9);
            color: $color-gold;
          }
        }
      }
    }
  }
}