/* ==============================
 Work Item Navigation
============================== */

.work-navigation {
  @include outer-container(100%);
  @include fill-parent;
  border-top: $base-border;
  background: $white;
  font-family: $heading-font-family;
  text-transform: uppercase;
  font-size: rem(11px);
  letter-spacing: .30em;
  text-indent: .30em;
  z-index: 99;

  .fa {
    margin-top: -1px;
    font-size: rem(12px);
    vertical-align: middle;
  }

  .fa-times {
    font-size: rem(16px);
    margin-top: -4px;
  }

  a {
    color: $dark-gray;
    cursor: pointer;
    display: block;
    float: left;
    height: $navigation_small;
    line-height: $navigation_small;
    overflow: hidden;
    padding: 0 4%;
    transition: all 0.3s ease-out;
    vertical-align: middle;
    white-space: nowrap;
    width: 33.33333%;

    &:visited {
      color: $dark-gray;
    }

    &:hover {
      color: $black-matte;
      background: $color-gold;
    }

    &.work-prev {
      text-align: left;
    }

    &.work-all {
      text-align: center;
    }

    &.work-next {
      text-align: right;
    }
  }
}



/* ==============================
 Branding Colors
============================== */

.colors {
  @include padding($base-spacing null);
  @include fill-parent;
  max-width: none;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  color: $base-gray;
  text-align: center;
  text-transform: uppercase;
  @include media($small-up) {
    padding-top:$base-spacing * 2;
    padding-bottom:$base-spacing * 2;
  }
}
.colors__headline {
  @include margin(40px auto);
  @include fill-parent;
}

.colors__item {
  @include padding($small-spacing);
  flex: 0 60px 0;
  @include media($small-up) {
    @include padding($base-spacing);
    flex: 0 0 120px;
  }
}
.colors__color {
  width: 40px;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  box-shadow: 0 0 0 4px $black-matte, 0 0 0 5px $dark-gray;
  margin-bottom: $small-spacing / 2;
  @include media($small-up) {
    width: 80px;
    box-shadow: 0 0 0 9px $black-matte, 0 0 0 10px $dark-gray;
    margin-bottom: 1rem;
  }
}
.colors__text {
  font-size: rem(12px);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: $base-letter-spacing;
  border-radius: 100px;
  border: 1px solid $dark-gray;
  color: $base-gray;
  padding: 2px $small-spacing;
  display: none;
  @include media($small-up) {
    display: inline-block;
  }
}

/* ==============================
 Porfolio Item Layout
============================== */

.client__details {
  margin-bottom: $small-spacing / 2;
  display: table;
  table-layout: fixed;

  // @include media($medium-up) {
  //   @include span-columns(8);
  //   text-align: center;
  // }


  > li {
    display: table-cell;
    vertical-align: middle;

    // @include media($medium-up) {
    //   display: block;
    // }
  }

  &--label {
    font-family: $heading-font-family;
    font-size: rem(15px);
    letter-spacing: 1.5px;
    margin-bottom: $small-spacing / 2;
    min-width: 80px;
    position: relative;
    text-transform: uppercase;
  }

  &--value {
    color: $base-gray;
  }
}



.client__third {
  @include media($xsmall-only) {
    max-width: 350px;
  }


  @include media($small-up) {
    @include span-columns(6 of 18);
  }
}

.client__half {
  @include media($medium-up) {
    @include span-columns(9 of 18);
  }
}

.client__two-third {
  @include outer-container(600px);
}