.container_elements {
  @include outer-container(500px);
}
.button--col {
  margin-bottom: 40px;
  text-align: center;

  @include media($medium-up) {
    @include span-columns(8);
    @include omega(3n);
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.container {
  @include outer-container;
}

.row {
  @include row;
}




