.swiper-container {
  text-align: center;
}

.swiper-prev,
.swiper-next {
  @include size(25px);
  line-height: 25px !important;
  color: $dark-gray;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: $small-spacing ($small-spacing / 2);
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -webkit-font-smoothing: antialiased;

  i {
    @include position(relative, 0 null null 0);
  }

  span {
    @include position(relative, 0 null null 0);
  }

  &:before {
    @include size(100%);
    @include position(absolute, 0 null null 0);
    background: $white;
    content: "";
    display: inline-block;
    border: 1px solid $dark-gray;
    border-radius: $base-border-radius;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  }

  &:hover {
    color: $white;

    &:before {
      background: $dark-gray;
    }
  }
}

.swiper__pagination {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 100 !important;

  &--item {
    display: inline-block;
    padding: 6px 4px;
    zoom: 1;

    span {
      -webkit-backface-visibility: visible;
      background: rgba($black, 0.15);
      display: block;
      height: 3px;
      transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);

      // transition: opacity 200ms ease;
      width: $base-spacing;
    }

    &.active,
    &:hover {
      span {
        background: rgba($black, 0.4);
      }
    }
  }
}




/* ==============================
   Client Slider
   ============================== */

  .clients__swiper {
    margin-bottom: $small-spacing;

    &--item {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 100px;
      justify-content: center;
      position: relative;

      img {
        display: block;
        margin: auto;
        max-height: 80px;
        opacity: .65;
        transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);

        // display: block;
        // margin: auto;
        // height: 100px;
        // filter: grayscale(100%);
        // transition: all 300ms linear;


        &:hover {
          opacity: 1;
          // filter: none;
        }
      }
    }
  }



/* ==============================
   Testimonial
   ============================== */

blockquote {
  @include padding(null $base-spacing);
  margin: auto;
  text-align: center;

  span {
    margin-bottom: $small-spacing;
    display: inline-block;

    img.avi {
      width: 60px !important;
      height: 60px !important;
      border-radius: $round-border-radius;
      margin: auto;
    }
  }

  p {
    font-weight: $font-weight--light;
    margin-bottom: rem(20px);
  }

  cite {
    display: block;
    font-size: rem(12px);
    text-transform: uppercase;
    letter-spacing: $base-letter-spacing;
    color: $base-gray;
    font-weight: 600;
    font-style: normal;
  }
}

.testimonial__swiper {
  &--item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
  }
}






