*, 
*::after, 
*::before {
  box-sizing: inherit;
}

html{
  box-sizing: border-box; 
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
  background-color: tan;
}

html, body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
.page{
  overflow: hidden;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  font-weight: $font-weight--regular;
  margin: 0 0 $small-spacing;
}

p {
  line-height: 1.75;
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

hr.page-section__divider {
  margin: 0;
}


img,
picture {
  margin: 0;
  max-width: 100%;
}

b, strong {
    font-weight: 700;
}

iframe {
    border: none;
}
a, b, div, ul, li{
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-tap-highlight-color: transparent; 
  -moz-outline-: none;
  outline: none;
}
a:focus,
a:active{
  -moz-outline: none;
  outline: none;
}
img:not([draggable]), embed, object, video{
    max-width: 100%;
    height: auto;
}
