// Typography
$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Oswald',sans-serif;;

// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--regular    : 400;
$font-weight--medium     : 500;
$font-weight--bold       : 700;
$font-weight--black      : 900;

// Font Sizes
$base-font-size: 16px;
$base-letter-spacing: rem(0.5px);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;


// Border radius
$base-border-radius : 2px;
$round-border-radius : 50%;

// Colors

$black: #000;
$white: #fff;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;


$base-gray: #666;
$color-gold: #c0a062;
// $color-gold:#a49260;
$black-matte: #101010;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $color-gold;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-border: rgba($black, .2);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
