/* ==============================
   Works Section
   ============================== */



.mix {
  &__container {
    @include outer-container;
  }

  &__nav {
    margin-bottom: $base-spacing * 2;
    text-align: center;
    cursor: default;

    &--item {
      @include margin(null $base-spacing null null);
      display: inline-block;
      color: $medium-gray;
      transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
      cursor: pointer;
      font-family: $heading-font-family;
      text-transform: uppercase;
      font-size: rem(14px);
      letter-spacing: .30em;
      text-indent: .30em;
      position: relative;
      
      @include media($small-down) {
        @include margin(null $small-spacing null null);
      }

      &:last-of-type {
        @include margin(0);
      }

      &:hover {
        color: $black;
      }

      > span {
        position: relative;
        display: inline-block;

        &:after {
          @include position(absolute, 0 2px null null);
          @include size(12px 2px);
          content: "";
          background-color: transparent;
        }
      }
    }
  }
}


.mixitup-control-active {
  color: $black;
  cursor: default;

  > span:after {
    background-color: $color-gold;
  }
}


/* Target Elements
---------------------------------------------------------------------- */


// FLEXBOX
// .mix__container {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   align-content: flex-start;
// }

// .mix {
//   width: 33.3333%;
//   margin: 0;
//   outline: none;
//   overflow: hidden;
//   position: relative;
//   vertical-align: top;
// }



// EVEN SPACING
// .mix {
//   display: inline-block;
//   margin: 0;
//   outline: none;
//   overflow: hidden;
//   position: relative;
//   width: 33%;
// }

.mix {
  display: inline-block;
  float: left;
  margin: 0;
  outline: none;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 33.33333%;

  @include media($xsmall-only) {
    // width: 100%;
    // float: none;
    width: 50%;
  }


  &:hover {
    .work-intro {
      opacity: 1;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
    }

    .work-img {
      &:after {
        background: rgba(20, 20, 20, 0.85);
        overflow: hidden;

        // background: rgba($white, 0.9);
        // background: $color-gold;
        // opacity: .73;
     
      }

      > img {
        transform: scale(1.05);
      }
    }
  }

  > a {
    @include size(100%);
    @include padding(0);
    @include position(relative, 0 null null 0);
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    border: none;

    &:hover {
      border: none;
      outline: 0;
    }
  }

  .work-img {
    position: relative;
    overflow: hidden;

    &:after {
      @include position(absolute, 0 null null 0);
      @include size(100%);
      background: rgba($black, 0);
      content: " ";
      display: block;
      overflow: hidden;
      transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    }

    img {
      transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
      width: 100%;
      display: block;
      overflow: hidden;
    }
  }

  .work-intro {
    @include position(absolute, 40% null null 0);
    @include padding($small-spacing);
    opacity: 0;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    width: 100%;
  }

  .work-title {
    margin-bottom: $small-spacing / 2;
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-size: rem(13px);
    letter-spacing: .30em;
    text-indent: .30em;
    color: $color-gold;
  }

  .work-descr {
    font-size: rem(12px);
    color: $light-gray;
    line-height: $heading-line-height;
    display: block;
    letter-spacing: $base-letter-spacing;
  }
}