@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";

@import "grid-settings";
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "vendor/owl-carousel/owl.carousel";
@import "vendor/owl-carousel/owl.theme.default";

// Bitters
@import "variables";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

@import "base";
@import "navbar";
@import "hero";
@import "experience";










.container_elements {
  @include margin(null auto);
  @include padding(null $base-spacing);
  max-width: 500px;
}



.row {
	@include outer-container;
}




.button--col {
	margin-bottom: 40px;
	text-align: center;
	@include media($medium-up) {
		@include span-columns(8);
		@include omega(3n);
	}

}

.mb-10 {
	margin-bottom: 10px;
}





.footer {
  background-color: $white;
  @include clearfix;

  ul.footer-nav {

    @include media($large-up) {
	    display: inline-block;
	    position: relative;
	    float: left;
    }

    li {
      // line-height: 1.5em;
      // padding-right: 1em;

      @include media($large-up) {
				float: left;
				position: relative;
				height: 75px;
				line-height: 75px;
      }

      a.footer-link {
        @include padding(null $base-spacing);
        display: inline-block;
        transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
        
        font-family: $heading-font-family;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: calc(12px * .3);
        text-indent: calc(12px * .3);
        color: #333;

        &:hover,
        &.active {
          background-color: $white;
          color: $dark-gray;
        }
      }

    }
  }
}



.footer-social-links {
	text-align: center;
	color: #707070;
	font-size: 12px;

  @include media($large-up) {
 	    display: inline-block;
	    position: relative;
    float: right;
  }

      li {
        font-size: 1em;
        margin-right: $small-spacing;
	      @include media($large-up) {
					float: left;
					position: relative;
					height: 75px;
					line-height: 75px;
	      }
      }

	a {
		width: 36px;
		height: 36px;
		line-height: 35px;
		text-align: center;
		display: inline-block;
		color: #474747;
		border: 1px solid rgba(#ddd, .7);
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
		&:hover {
			border-color: #ddd;
		}
	}
}






.contact-info {
	@include media($medium-up) {
		@include span-columns(7 of 18);
	}
}

.contact-form {
	@include media($medium-up) {
		@include span-columns(10 of 18);
		@include shift(1);

	}
}




//fonts
$font_0: Montserrat;
$font_1: arial;
$font_2: sans-serif;

.contact-item {
	padding-right: 67px !important;
	position: relative;
	color: rgba($black, .3);
	text-align: right;
	overflow: hidden;
	margin-bottom: 40px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	a {
		color: rgba($black, .3);
		text-decoration: none;
		&:hover {
			color: rgba($black, .7);
			text-decoration: none;
		}
	}
	&:hover {
		color: rgba($black, .4);
		a {
			color: rgba($black, .4);
		}
	}
}
.ci-icon {
	width: 45px;
	height: 40px;
	position: absolute;
	top: 4px;
	right: 7px;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	border-left: 1px solid rgba($black, .1);
}
.ci-title {
	margin-bottom: 5px;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.ci-phone {
	font-size: 24px;
	font-family: $font_0, $font_1, $font_2;
	font-weight: 400;
	line-height: 1.2;
}
.ci-text {
	color: rgba($black, .3);
}









